In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv("titanic.csv",",")

print(dataset)

ModuleNotFoundError: No module named 'pandas'

In [2]:
data_array = np.array(dataset)
dimensi = data_array.shape
print("Jumlah Baris = ",dimensi[0])
print("Jumlah Kolom = ",dimensi[1])

Jumlah Baris =  891
Jumlah Kolom =  12

In [3]:
dataset.columns
data_male=dataset.loc[dataset['Sex']=="male"]
jumlah = data_male['Sex'].count()
print(jumlah)

577

In [4]:
data = dataset[['Name','Sex','Age','Pclass','Fare']]
print(data)

                                                  Name     Sex Age  Pclass  \
0                              Braund, Mr. Owen Harris    male  22       3
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38       1
2                               Heikkinen, Miss. Laina  female  26       3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35       1
4                             Allen, Mr. William Henry    male  35       3
..                                                 ...     ...  ..     ...
886                              Montvila, Rev. Juozas    male  27       2
887                       Graham, Miss. Margaret Edith  female  19       1
888           Johnston, Miss. Catherine Helen "Carrie"  female           3
889                              Behr, Mr. Karl Howell    male  26       1
890                                Dooley, Mr. Patrick    male  32       3

        Fare
0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
..       ...
886  13.0000
887  30.0000
888  23.4500
889  30.0000
890   7.7500

[891 rows x 5 columns]

In [22]:
classes = dataset[['Survived']]
print(classes)

     Survived
0           0
1           1
2           1
3           1
4           0
..        ...
886         0
887         1
888         0
889         1
890         0

[891 rows x 1 columns]

In [28]:

print(data)

                                                  Name     Sex   Age  Pclass  \
0                              Braund, Mr. Owen Harris    male  22.0       3
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0       1
2                               Heikkinen, Miss. Laina  female  26.0       3
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0       1
4                             Allen, Mr. William Henry    male  35.0       3
..                                                 ...     ...   ...     ...
886                              Montvila, Rev. Juozas    male  27.0       2
887                       Graham, Miss. Margaret Edith  female  19.0       1
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN       3
889                              Behr, Mr. Karl Howell    male  26.0       1
890                                Dooley, Mr. Patrick    male  32.0       3

        Fare  Relatives
0     7.2500          1
1    71.2833          1
2     7.9250          0
3    53.1000          1
4     8.0500          0
..       ...        ...
886  13.0000          0
887  30.0000          0
888  23.4500          3
889  30.0000          0
890   7.7500          0

[891 rows x 6 columns]

In [44]:
countPclass1 = dataset.loc[dataset['Pclass']==1]
countPclass2 = dataset.loc[dataset['Pclass']==2]
countPclass3 = dataset.loc[dataset['Pclass']==3]

sumPclass1 = countPclass1['Pclass'].count()
sumPclass2 = countPclass2['Pclass'].count()
sumPclass3 = countPclass3['Pclass'].count()

print("Jumlah Pclass 1 : ",sumPclass1)
print("Jumlah Pclass 2 : ",sumPclass2)
print("Jumlah Pclass 3 : ",sumPclass3)

Jumlah Pclass 1 :  216
Jumlah Pclass 2 :  184
Jumlah Pclass 3 :  491

In [47]:
data_male=dataset.loc[dataset['Sex']=="male"]
data_female=dataset.loc[dataset['Sex']=="female"]

sum1 = data_male['Sex'].count()
sum2 = data_female['Sex'].count()

print("Male : ",sum1)
print("Female : ",sum2)

Male :  577
Female :  314

In [52]:
deadPclass1 = countPclass1.loc[countPclass1['Survived']==0]
survivedPclass1 = countPclass1.loc[countPclass1['Survived']==1]

jumlah1 = deadPclass1['Pclass'].count()
jumlah2 = survivedPclass1['Pclass'].count()

print("Jumlah yang meninggal diPclass 1 : ",jumlah1)
print("Jumlah yang hidup diPclass 1     : ",jumlah2)

Jumlah yang meninggal diPclass 1 :  80
Jumlah yang hidup diPclass 1     :  136